<%= form_for @data_letter, :html => { :class => 'form-horizontal dropzone dropzone-previews dz-clickable' } do |f| %>
  <div class="control-group">
    <%= f.label :titel, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titel, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :text, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :material_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :material_id, Material.all, :id, :name, prompt: 'Select material...' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                data_letters_path, :class => 'btn' %>
  </div>
<% end %>

<script>
Dropzone.options.edit_data_letter_<%= @data_letter.id %> = {
  paramName: "data_letter[file]", // The name that will be used to transfer the file
};
</script>
